
body {
    margin: 0;
    font-weight: 300px;
    background-image: "images/prettykitty.jpg";
}

.container {
    width: 95%;
    margin: 0 auto;

}
header {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1100;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: red;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;

    position: relative;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: red;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%
}

.name {
    text-decoration: underline;
    padding-top: 40px;
}
